body {
  background-color: #e6e6fa;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.main {
  color: #663399;
}
.text {
  color: #663399;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
}
.main-two {
  color: #663399;
}
.list {
  color: #000000;
}
